RewriteEngine On

##ErrorDocument 404 http://localhost/NotasStyle/404-error.html
RewriteRule ^/?$ http://localhost/NotasStyle/inicio.html [R=301,L]
RewriteRule ^/?index.html$ http://localhost/NotasStyle/inicio.html [R=301,L]
RewriteRule ^/?index.php$ http://localhost/NotasStyle/inicio.html [R=301,L]

##LINKS PARA LAS SECCIONES##
RewriteRule ^/?inicio.html pagina.php?section=home [L,NC]
RewriteRule ^/?login.html pagina.php?section=login [L,NC]
RewriteRule ^/?crear-notas.html pagina.php?section=addNota [L,NC]