RewriteEngine On

##ErrorDocument 404 http://localhost/NotasStyle/404-error.html
RewriteRule ^/?$ http://localhost/NotasStyle/inicio.html [R=301,L]
RewriteRule ^/?index.html$ http://localhost/NotasStyle/inicio.html [R=301,L]
RewriteRule ^/?index.php$ http://localhost/NotasStyle/inicio.html [R=301,L]

##LINKS PARA LAS SECCIONES##
RewriteRule ^/?inicio.html pagina.php?section=home [L,NC]
RewriteRule ^/?login.html pagina.php?section=login [L,NC]
RewriteRule ^/?crear-notas.html pagina.php?section=addNote [L,NC]
RewriteRule ^/?buscar-notas.html pagina.php?section=searchNote [L,NC]
RewriteRule ^/?ver-notas-activas.html pagina.php?section=activeNotes [L,NC]
RewriteRule ^/?ver-notas-entregadas.html pagina.php?section=deliveredNotes [L,NC]
RewriteRule ^/?ver-notas-pagadas.html pagina.php?section=paidNotes [L,NC]
RewriteRule ^/?ver-notas-al-corte.html pagina.php?section=cutNotes [L,NC]
RewriteRule ^/?cerrar-sesion.html pagina.php?section=cerrarSesion [L,NC]